<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /><title>Racex</title>
  </head>
  <body>
      <h2 class="section-heading">Browser Race Game</h2>
      <p> This is a personal project to learn some concepts about Elixir, Phoenix and Game Servers</p>
  </body>
</html>
